.introduction {
  display: flex;
  color: #fff;
  padding-top: 125px;
  padding-left: 15px;
  margin-bottom: 65px;
  cursor: default;
}

.introduction img {
  border-radius: 150px;
}

.introduction section {
  margin: auto 35px auto 35px;
  line-height: 1.5;
}

.introduction header {
  margin-bottom: 5px;
  margin-left: -25px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  background: linear-gradient(
    90deg,
    rgb(60, 138, 145) 0%,
    rgb(255, 255, 255) 50%,
    rgb(60, 138, 145) 100%
  );
  background-clip: text;
  background-size: 500%;
  -webkit-text-fill-color: transparent;
}

.introduction header:hover::after {
  content: " !";
}

.introduction-status::before,
.introduction-pulse::before{
  content: '';
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 20px;
  transform: translateY(1px);
  background-color: rgb(51, 122, 42);
}

.introduction-pulse::before{
  background-color: rgba(51, 122, 42,0);
}

.introduction-status,
.introduction-pulse {
  width: fit-content;
  margin-top: 10px;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: rgba(138, 138, 138, 0.25);
}

@media only screen and (max-width: 1500px) {
  .introduction {
    padding-top: 235px;
  }
}

@media only screen and (max-width: 1200px) {
  .introduction {
    flex-direction: column;
  }

  .introduction > img {
    margin-bottom: 25px;
  }
}
