#i05 > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#i05 .entry-card-more {
  border-radius: 25px;
  flex-grow: 1;
}

/* compétences majeures */

#i03 > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


#i03 > div > *:first-child {
  flex: 1;
}

#i03 > div > *:nth-child(0n+2) {
  flex: 1;
}

#i03 > div > *:nth-child(0n+3) {
  flex: 2;
}

#i03 > div > *:nth-child(0n+4) {
  flex: 1;
}
